<header class="header">
  <nav class="navbar">
    <div class="nav-container">
      <a href="/" class="logo" id="logo-link">
        <!-- <img src="../assets/images/ngkore-tower.png" alt="NgKore Logo" class="logo-img" id="logo-img"> -->
        <span class="logo-text">
          <span class="logo-ng">Ng</span
          ><span class="logo-kore">Kore Foundation</span>
        </span>
      </a>
      <ul class="nav-menu">
        <li class="nav-item">
          <a href="" class="nav-link" id="home-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" id="about-link">About Us</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" id="products-link">Our Expertise</a>
        </li>
        <!-- <li class="nav-item">
          <a href="" class="nav-link" id="announcements-link">Highlights</a>
        </li> -->
        <li class="nav-item">
          <a href="" class="nav-link" id="meetings-link">Meetings</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" id="publications-link">Publications</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" id="docs-link">Documentation</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" id="contact-link">Contact Us</a>
        </li>
      </ul>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </nav>
</header>
